<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="SQLSERVER_URI" value="" />
	</appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.6.2" />
      <httpRuntime targetFramework="4.6.2" />
		<customErrors mode="RemoteOnly" defaultRedirect="Oops.aspx">
			<error statusCode="403" redirect="Oops.aspx" />
			<error statusCode="404" redirect="OOps.aspx" />
		</customErrors>
		<urlMappings enabled="true">
			<add url="~/" mappedUrl="~/Players.aspx" />
		</urlMappings>
    </system.web>
</configuration>